ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 0;
  width: 100%;
}

.load-animation {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(173, 216, 230);
  padding: 0;
  border-radius: 10px;
  min-width: 70%; */
  animation: 1s infinite ease-in loading-item;
  color: transparent;
}

@keyframes loading-item {
  0% {
    background-color: rgb(173, 216, 230, 0.5);
  }
  25% {
    background-color: rgb(173, 216, 230, 0.3);
  }
  50% {
    background-color: rgb(173, 216, 230, 0.1);
  }
  25% {
    background-color: rgb(173, 216, 230, 0.3);
  }
  100% {
    background-color: rgb(173, 216, 230, 0.5);
  }
}

span {
  padding: 10px;
}

p {
  width: 100%;
}
