.todoNewButton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border-radius: 50px;
  background-color: aqua;
  font-size: 50px;
  padding: 5px 20px;
}

.todoNewButton:hover {
  animation: 0.25s normal rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
