li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0;
    border-radius: 10px;
    min-width: 70%;
}

span{
   
    padding: 10px;
}

p{
     width: 100%;
}

.completed{
    text-decoration: line-through;
}

span{
    cursor: pointer;
}